<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/slash/IdeaProjects/get-homework">


        <classes>

            <class name="BaseTest"/>
            <class name="AdministratorTest"/>
            <class name="GameTest"/>
            <class name="MainHomepageTest"/>


        </classes>

    </test>
</suite>